.suo
db.lock
storage.ide
storage.ide-shm
storage.ide-wal
applicationhost.config
back.deps.json
back.dll
back.pdb
back.runtimeconfig.dev.json
back.runtimeconfig.json
docker-compose.dcproj.FileListAbsolute.txt
back.AssemblyInfo.cs
back.AssemblyInfoInputs.cache
back.csproj.CoreCompileInputs.cache
back.csproj.FileListAbsolute.txt
CachedComposeConfigFilePaths.cache
MergedDockerCompose.cache
TargetOS.cache
back.csproj.nuget.cache
back.csproj.nuget.g.props
back.csproj.nuget.g.targets
project.assets.json
